@model UserManagementSystem.ViewModels.LoginViewModel
<div>
	<center>
		<form method="POST" asp-controller="User" asp-action="Login">
			Username:<input type="text" name="Username" id="Username" /><br>
			Password:<input type="Password" name="Password" id="Password" /><br>
			<input type="submit" value="Login" />


		</form>
	</center>
</div>
