<h1>Home</h1>

<form method="POST" asp-controller="User"  asp-action="ToLogin">
	<input type="submit" value="Login" />
</form>
<form method="POST" asp-controller="User" asp-action="ToRegister">
	<input type="submit" value="Register" />
</form>

